## Pandas SQL Assignment

### Problem statement 1:

Read the following data set:

https://archive.ics.uci.edu/ml/machine-learning-databases/adult/

Rename the columns as per the description from this file:

https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

In [1]:
# Imports
import numpy as np
import pandas as pd
from pandasql import sqldf

In [2]:
adult_df = pd.read_csv('adult\\adult_data.csv')
adult_df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'Weights']
adult_df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Weights
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

### Create a sql db from adult dataset and name it sqladb

In [3]:
sqladb = lambda q: sqldf(q, globals())

#### Q1. Select 10 records from the adult sqladb

In [4]:
sql_select_adult_10 = "SELECT * FROM adult_df LIMIT 10;"
sqladb(sql_select_adult_10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Weights
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

#### Q2. Show me the average hours per week of all men who are working in private sector

In [5]:
sql_select_avg_wrk_hr_4men = "SELECT avg([hours-per-week]) as [avg-work-hrs] FROM adult_df WHERE sex=' Male' AND workclass=' Private';"
sqladb(sql_select_avg_wrk_hr_4men)

   avg-work-hrs
0     42.221226

#### Q3. Show me the frequency table for education, occupation and relationship, separately

In [6]:
# Frequency of Education
print('Frequency of Education:')
sql_select_freq_education = "SELECT education, COUNT(*) as frequency FROM adult_df GROUP BY education ORDER BY COUNT(*) DESC;"
sqladb(sql_select_freq_education)

Frequency of Education:

        education  frequency
0         HS-grad      10501
1    Some-college       7291
2       Bachelors       5354
3         Masters       1723
4       Assoc-voc       1382
5            11th       1175
6      Assoc-acdm       1067
7            10th        933
8         7th-8th        646
9     Prof-school        576
10            9th        514
11           12th        433
12      Doctorate        413
13        5th-6th        333
14        1st-4th        168
15      Preschool         51

In [7]:
# Frequency of Occupation
print('Frequency of Occupation:')
sql_select_freq_occupation = "SELECT occupation, COUNT(*) as frequency FROM adult_df GROUP BY occupation ORDER BY COUNT(*) DESC;"
sqladb(sql_select_freq_occupation)

Frequency of Occupation:

            occupation  frequency
0       Prof-specialty       4140
1         Craft-repair       4099
2      Exec-managerial       4066
3         Adm-clerical       3769
4                Sales       3650
5        Other-service       3295
6    Machine-op-inspct       2002
7                    ?       1843
8     Transport-moving       1597
9    Handlers-cleaners       1370
10     Farming-fishing        994
11        Tech-support        928
12     Protective-serv        649
13     Priv-house-serv        149
14        Armed-Forces          9

In [8]:
# Frequency of Relationship
print('Frequency of Relationship:')
sql_select_freq_relationship = "SELECT relationship, COUNT(*) as frequency FROM adult_df GROUP BY relationship ORDER BY COUNT(*) DESC;"
sqladb(sql_select_freq_relationship)

Frequency of Relationship:

      relationship  frequency
0          Husband      13193
1    Not-in-family       8304
2        Own-child       5068
3        Unmarried       3446
4             Wife       1568
5   Other-relative        981

#### Q4. Are there any people who are married, working in private sector and having a master’s degree

In [9]:
sql_select_mrd_pvt_masters = "SELECT * FROM adult_df WHERE relationship IN (' Husband', ' Wife') AND workclass=' Private' AND education=' Masters';"
sqladb(sql_select_mrd_pvt_masters)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Weights
0,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
1,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
2,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
3,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
4,34,Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan,>50K
5,62,Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
6,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,>50K
7,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
8,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K
9,51,Private,410114,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
10,31,Private,118710,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,1902,40,United-States,>50K
11,34,Private,73585,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,<=50K
12,40,Private,170108,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
13,43,Private,158926,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,50,South,<=50K
14,51,Private,138022,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
15,43,Private,227065,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States,>50K
16,38,Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,<=50K
17,33,Private,354573,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,44,United-States,>50K
18,59,Private,151616,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
19,38,Private,22245,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,?,>50K
20,46,Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States,<=50K
21,65,Private,198766,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,20051,0,40,United-States,>50K
22,55,Private,98361,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,?,>50K
23,45,Private,46406,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,England,>50K
24,48,Private,126754,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
25,54,Private,177927,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K
26,43,Private,201723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,40,United-States,>50K
27,41,Private,233955,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,China,>50K
28,49,Private,186078,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
29,39,Private,79331,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,15024,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K
499,50,Private,201882,Masters,14,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States,<=50K
500,44,Private,267717,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States,>50K
501,30,Private,182771,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
502,39,Private,198841,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States,>50K
503,53,Private,53197,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K
504,55,Private,70088,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
505,36,Private,199346,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
506,30,Private,378009,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
507,35,Private,75855,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,7298,0,40,?,>50K
508,59,Private,59469,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,Iran,<=50K
509,39,Private,72338,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
510,50,Private,176157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
511,30,Private,341051,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
512,43,Private,346321,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
513,47,Private,155664,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,United-States,>50K
514,48,Private,379883,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Cuba,>50K
515,49,Private,123681,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States,>50K
516,43,Private,174295,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
517,32,Private,313835,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
518,40,Private,137225,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
519,25,Private,178025,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
520,31,Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States,>50K
521,61,Private,232719,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
522,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
523,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
524,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
525,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
526,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
527,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

#### Q5. What is the average, minimum and maximum age group for people working in different sectors

In [10]:
sql_select_occupation_age_dist = "SELECT occupation, avg(age) as [avg-age], min(age) as [min-age], max(age) as [max-age] FROM adult_df GROUP BY occupation;"
sqladb(sql_select_occupation_age_dist)

            occupation    avg-age  min-age  max-age
0                    ?  40.882800       17       90
1         Adm-clerical  36.963916       17       90
2         Armed-Forces  30.222222       23       46
3         Craft-repair  39.031471       17       90
4      Exec-managerial  42.169208       17       90
5      Farming-fishing  41.211268       17       90
6    Handlers-cleaners  32.165693       17       90
7    Machine-op-inspct  37.715285       17       90
8        Other-service  34.949621       17       90
9      Priv-house-serv  41.724832       17       81
10      Prof-specialty  40.517633       17       90
11     Protective-serv  38.953775       17       90
12               Sales  37.353973       17       90
13        Tech-support  37.022629       17       73
14    Transport-moving  40.197871       17       90

#### Q6. Calculate age distribution by country

In [11]:
sql_select_age_distrib_by_country = """SELECT 
    [native-country],
    Round(Round((count(age)*100), 5) / Round((select count(age) from adult_df), 5), 5) as 'Age Distribution'
    FROM adult_df GROUP BY [native-country] order by count(age) desc;"""

sqladb(sql_select_age_distrib_by_country)

                 native-country  Age Distribution
0                 United-States          89.58538
1                        Mexico           1.97482
2                             ?           1.79054
3                   Philippines           0.60811
4                       Germany           0.42076
5                        Canada           0.37162
6                   Puerto-Rico           0.35012
7                   El-Salvador           0.32555
8                         India           0.30713
9                          Cuba           0.29177
10                      England           0.27641
11                      Jamaica           0.24877
12                        South           0.24570
13                        China           0.23034
14                        Italy           0.22420
15           Dominican-Republic           0.21499
16                      Vietnam           0.20577
17                    Guatemala           0.19656
18                        Japan           0.19042
19                       Poland           0.18428
20                     Columbia           0.18120
21                       Taiwan           0.15663
22                        Haiti           0.13514
23                         Iran           0.13206
24                     Portugal           0.11364
25                    Nicaragua           0.10442
26                         Peru           0.09521
27                       France           0.08907
28                       Greece           0.08907
29                      Ecuador           0.08600
30                      Ireland           0.07371
31                         Hong           0.06143
32                     Cambodia           0.05835
33              Trinadad&Tobago           0.05835
34                         Laos           0.05528
35                     Thailand           0.05528
36                   Yugoslavia           0.04914
37   Outlying-US(Guam-USVI-etc)           0.04300
38                     Honduras           0.03993
39                      Hungary           0.03993
40                     Scotland           0.03686
41           Holand-Netherlands           0.00307

#### Q7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [12]:
sql_select_calc_Net_Capital_Gain = "SELECT age, workclass, fnlwgt, education, [education-num], [marital-status], occupation, relationship, race, sex, [capital-gain], [capital-loss], ([capital-gain]-[capital-loss]) as [Net-Capital-Gain], [hours-per-week], [native-country], Weights FROM adult_df;"
sqladb(sql_select_calc_Net_Capital_Gain)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,Net-Capital-Gain,hours-per-week,native-country,Weights
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,14084,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,5178,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,-2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,15020,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,1086,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,15024,40,United-States,>50K